[submodule "extern/nameof"]
	path = extern/nameof
	url = https://github.com/Neargye/nameof.git
[submodule "extern/range-v3"]
	path = extern/range-v3
	url = https://github.com/ericniebler/range-v3.git
[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest
